[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_banner</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
<div class="section section--cover">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="normal">Hi!</h1>
                <h3 class="normal">
                    Welcome to Happi, where you answer 5 questions to get deals, win prizes, and drive donations to your selected charity or group.
                </h3>
                <br>
                <button class="btn btn-success btn-lg">Sign up now!</button>
                <h4 class="normal">
                    &nbsp;For your chance to get, give, and win.
                </h4>
                <br>
                <div class="text-center">
                    <a href="//play.google.com/store/apps/details?id=com.happi" target="_blank">
                        <img alt="Get Happi on Google Play!" src="//proj-happi.s3.amazonaws.com/public/assets/media/20160119032713irpzget-it-on-google-play-vector.png" style="width:200px">
                    </a>
                    <a href="//itunes.apple.com/sg/app/happi-singapore/id1066117097?mt=8" target="_blank">
                        <img alt="Get Happi on the Apple Store!" src="//proj-happi.s3.amazonaws.com/public/assets/media/201602120826151c51app-store-logo.png" style="width:200px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
[[/DESIGNER_MODE]]