[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_header</div>
[[/DESIGNER_MODE]]

[[&CHILD-FLOW-HEADER-CONTENT]]

[[^DESIGNER_MODE]]
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#menuNavbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index" class="navbar-brand">
                <img src="/ttsvr/cropImage/happi.images.tmp_logo_1_png.png">
            </a>
        </div>
        <div id="menuNavbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#sectionAbout">About Us</a>
                </li>
                <li>
                    <a href="#sectionPartners">Partners</a>
                </li>
                <li>
                    <a href="#sectionWinners">Winners</a>
                </li>
                <li>
                    <a href="#sectionPress">Press</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                        Login &nbsp;<i class="fa fa-user"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="login">
                            <form class="form-signin">
                                <a href="//happi.sg/en/#loginPopup" class="btn btn-success">Login</a>&nbsp;
                                <button type="button" data-toggle="modal" data-target="#formSignup" class="btn btn-success">Sign up</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
[[/DESIGNER_MODE]]