[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_events</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
<div class="section section--products">
    <div class="container">
        <h2 class="text-center">Events</h2>
        <div id="galleryEvents" style="display:none;">
            <img alt="Sports Events" src="/ttsvr/cropImage/happi.images.tmp_i_events_sports.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_events_sports.jpg" data-description="Sports Events"/>
            <img alt="Music" src="/ttsvr/cropImage/happi.images.tmp_i_events_music.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_events_music.jpg" data-description="Music"/>
            <img alt="Theatre" src="/ttsvr/cropImage/happi.images.tmp_i_events_theatre.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_events_theatre.jpg" data-description="Theatre"/>
            <img alt="Adventure" src="/ttsvr/cropImage/happi.images.tmp_i_events_adventure.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_events_adventure.jpg" data-description="Adventure"/>
            <img alt="Comedy" src="/ttsvr/cropImage/happi.images.tmp_i_events_comedy.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_events_comedy.jpg" data-description="Comedy"/>
        </div>
    </div>
</div>
[[/DESIGNER_MODE]]