[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_quote</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
<div class="section _about sub">
    <div class="container">
        <div class="combator text-center">
            <i class="fa fa-quote-left"></i>
            <strong>&nbsp;Small Acts for Big Impact&nbsp;</strong>
            <i class="fa fa-quote-right"></i>
            &nbsp;is our mantra. We give people a way to support something they care about in a free, easy way with just 30 seconds a day.
        </div>
    </div>
</div>
[[/DESIGNER_MODE]]