<widget>
    <widgetType>template</widgetType>
    <linkedWidget>demo.pages.demoPage</linkedWidget>
    <label>Demo Page</label>
    <description>Create a new page that uses the Mustache template language. See http://mustache.github.io for details.</description>
</widget>