[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_featured</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
<div id="sectionFeatured" class="section _featured">
    <div class="container">
        <div class="col-md-5 hidden-xs hidden-sm">
            <img src="/ttsvr/cropImage/happi.images.tmp_img_featured_png.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-7">
            <h2>Featured Story</h2>
            <img src="/ttsvr/cropImage/happi.images.tmp_img_events_adventure_jpg.jpg" alt="" class="col-xs-12 col-sm-3 col-md-3 img-responsive pull-right">
            <div class="visible-xs">
                <div class="clearfix"></div><br>
            </div>
            <p>
                <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</strong>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </p>
            <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
            </p>
            <a href="page_featured">View More</a>
        </div>
    </div>
</div>
[[/DESIGNER_MODE]]