[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_about</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
<div id="sectionAbout" class="section _about">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 text-center visible-xs">
                <img src="/ttsvr/cropImage/happi.images.tmp_img_helping_people_png.png" alt="" class="img-responsive">
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="hidden-sm">
                    <br>
                    <br>
                </div>
                <div class="hidden-xs">
                    <br>
                </div>
                <div class="combator">
                    Happi is a community platform that enables people to be heard and contribute to causes, charities, teams, schools and groups they care about in a fun, free, and easy way.&nbsp;<small><a href="page_about" class="text-nowrap">Learn more</a></small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 text-center hidden-xs">
                <img src="/ttsvr/cropImage/happi.images.tmp_img_helping_people_png.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>
[[/DESIGNER_MODE]]