[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_products</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
<div class="section section--products">
    <div class="container">
        <h2 class="text-center">Products</h2>
        <div id="galleryProducts" style="display:none;">
            <img alt="Sports" src="/ttsvr/cropImage/happi.images.tmp_i_products_sports.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_sports.jpg" data-description="Sports"/>
            <img alt="Beauty" src="/ttsvr/cropImage/happi.images.tmp_i_products_beauty.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_beauty.jpg" data-description="Beauty"/>
            <img alt="Dine" src="/ttsvr/cropImage/happi.images.tmp_i_products_dine.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_dine.jpg" data-description="Dine"/>
            <img alt="Experience" src="/ttsvr/cropImage/happi.images.tmp_i_products_experience.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_experience.jpg" data-description="Experience"/>
            <img alt="Family" src="/ttsvr/cropImage/happi.images.tmp_i_products_family.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_family.jpg" data-description="Family"/>
            <img alt="Fashion" src="/ttsvr/cropImage/happi.images.tmp_i_products_fashion.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_fashion.jpg" data-description="Fashion"/>
            <img alt="Health" src="/ttsvr/cropImage/happi.images.tmp_i_products_health.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_health.jpg" data-description="Health"/>
            <img alt="Home" src="/ttsvr/cropImage/happi.images.tmp_i_products_home.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_home.jpg" data-description="Home"/>
            <img alt="Pets" src="/ttsvr/cropImage/happi.images.tmp_i_products_pets.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_pets.jpg" data-description="Pets"/>
            <img alt="Places" src="/ttsvr/cropImage/happi.images.tmp_i_products_places.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_places.jpg" data-description="Places"/>
            <img alt="Romance" src="/ttsvr/cropImage/happi.images.tmp_i_products_romance.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_romance.jpg" data-description="Romance"/>
            <img alt="Tech" src="/ttsvr/cropImage/happi.images.tmp_i_products_tech.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_tech.jpg" data-description="Tech"/>
            <img alt="Work" src="/ttsvr/cropImage/happi.images.tmp_i_products_work.jpg" data-image="/ttsvr/cropImage/happi.images.tmp_i_products_work.jpg" data-description="Work"/>
        </div>
    </div>
</div>
[[/DESIGNER_MODE]]