[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_banner</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]

<div class="section _cover">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 class="normal">Hi!</h1>
                <h3 class="normal">
                    Welcome to Happi, where you answer 5 question surveys to get deals, win prizes, and drive donations to your selected charity or group.
                </h3>
                <br>
                <h4 class="normal">
                    <strong>
                        <a href="#formSignup" data-toggle="modal">Sign up now!</a>
                    </strong>&nbsp;
                    For your chance to <strong>get</strong>, <strong>give</strong>, and <strong>win</strong>.
                </h4>
                <br>
                <div class="text-center">
                    <a href="//play.google.com/store/apps/details?id=com.happi" target="_blank">
                        <img alt="Get Happi on Google Play!" src="//proj-demo.s3.amazonaws.com/public/assets/media/20160119032713irpzget-it-on-google-play-vector.png" style="width:150px">
                    </a>
                    <a href="//itunes.apple.com/sg/app/happi-singapore/id1066117097?mt=8" target="_blank">
                        <img alt="Get Happi on the Apple Store!" src="//proj-demo.s3.amazonaws.com/public/assets/media/201602120826151c51app-store-logo.png" style="width:150px">
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="visible-xs visible-sm text-center">
                    <br>
                    <a href="#mobileVideo" data-toggle="modal">
                        <i class="fa fa-video-camera fa-3x"></i>
                        <br>
                        Watch Video
                    </a>
                </div>
                <iframe src="//player.vimeo.com/video/164960427?byline=0&amp;portrait=0&amp;badge=0&amp;autoplay=0" width="100%" height="370" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="hidden-xs hidden-sm"></iframe>
            </div>
        </div>
    </div>
</div>
[[/DESIGNER_MODE]]