[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_header</div>
[[/DESIGNER_MODE]]

[[&CHILD-FLOW-HEADER-CONTENT]]

[[^DESIGNER_MODE]]
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/ttsvr/n/happi-webdesign-1" class="navbar-brand">
                <img src="/ttsvr/cropImage/happi.images.i_logo_happi.png">
                <span>happi</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/ttsvr/n/happi-webdesign-2">About Us</a>
                </li>
                <li>
                    <a href="/ttsvr/n/happi-webdesign-2">Shop</a>
                </li>
                <li>
                    <a href="/ttsvr/n/happi-webdesign-2">Pocket</a>
                </li>
                <li>
                    <a href="/ttsvr/n/happi-webdesign-2">Get Smiles</a>
                </li>
                <li>
                    <a href="/ttsvr/n/happi-webdesign-2">Wish List</a>
                </li>
                <li>
                    <a href="/ttsvr/n/happi-webdesign-2">Winners</a>
                </li>
                <li>
                    <a href="/ttsvr/n/happi-webdesign-2">Partners List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                        Login &nbsp;<i class="fa fa-sign-in"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="login">
                            <form class="form-signin">
                                <label for="inputEmail" class="sr-only">Email address</label>
                                <input id="inputEmail" type="email" placeholder="Email address" required="" autofocus="" class="form-control">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-sm btn-success btn-block">Login</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
[[/DESIGNER_MODE]]