[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_footer</div>
[[/DESIGNER_MODE]]

<footer>
    <div class="container content">
        <div class="row">
            <ul class="links col-md-8 col-sm-8">
                <li>
                    <a href="#">Terms and Condition</a>
                </li>
                <li>
                    <a href="#formContact" data-toggle="modal">Contact</a>
                </li>
                <li>
                    <a href="#">Legal</a>
                </li>
                <li>
                    <a href="#">Terms of Use</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
            <ul class="social col-md-4 col-sm-4">
                <li>
                    <a href="//www.facebook.com/happisg" target="_blank" class="fa fa-facebook fa-2x"></a>
                </li>
                <li>
                    <a href="//www.instagram.com/happi.sg/" target="_blank" class="fa fa-instagram fa-2x"></a>
                </li>
                <li>
                    <a href="//twitter.com/happi_sg" target="_blank" class="fa fa-twitter fa-2x"></a>
                </li>
                <li>
                    <a href="//www.linkedin.com/company/happi-pte-ltd" target="_blank" class="fa fa-linkedin fa-2x"></a>
                </li>
                <li>
                    <a href="mailto:hello@happi.sg" target="_self" class="fa fa-envelope-o fa-2x"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

[[&CHILD-FLOW-FOOTER-CONTENT]]