[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_steps</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
<div id="sectionSteps" class="section _steps">
    <div class="container">
        <h2 class="text-center">High-level summary of steps</h2>
        <br><br><br>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 icon_block">
                <i class="fa fa-check-circle icon icon_step_1"></i>
                <br>
                <h4>Select a Cause</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 icon_block">
                <i class="fa fa-smile-o icon icon_step_2"></i>
                <br>
                <h4>Smile at a Product</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 icon_block">
                <i class="fa fa-list-alt icon icon_step_3"></i>
                <br>
                <h4>Take a Survey</h4>
            </div>
        </div>
    </div>
</div>
[[/DESIGNER_MODE]]