[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_partners</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
<div id="sectionPartners" class="section _partners">
    <h2 class="text-center">Our Partners</h2>
    <div class="container">
        <br/>
        <div class="carousel-partners owl-carousel owl-theme">
            <div><a href="//demo.sg/group/view/28" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_awg_all_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Animal Welfare Group</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/15" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_awg_cas_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Animal Welfare Group</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/16" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_awg_dog_lovers_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Animal Welfare Group</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/51" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_awg_sosd_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Animal Welfare Group</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/55" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_apsn_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/59" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_bb_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/62" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_rda_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/36" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_ash_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/50" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_bcf_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/26" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_cc_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/20" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_dsas_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/46" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_fa_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/22" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_hh_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/38" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_char_maw_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Charities</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/12" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_acl_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/53" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_apc_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/44" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_jr_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/48" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_lcose_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/21" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_pu_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/49" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_sct_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/29" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_sj_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/52" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_siha_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/27" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_spin_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/40" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_ss_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/13" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_wfos_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/45" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_wras_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/47" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_clubs_yayasan_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Clubs</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/33" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_groups_demo_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Groups</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/25" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_groups_pn_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Groups</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/23" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_groups_sicc_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Groups</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/41" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_groups_acs_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Groups</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/58" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_groups_swf_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Groups</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/35" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_ca_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/14" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_cr_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/42" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_hors_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/56" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_msis_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/37" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_ntu_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/39" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_ntusu_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/34" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_nus_1_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/60" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_nus_2_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/63" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_pp_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/57" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_wl_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/24" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_schools_wsc_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Schools</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/30" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_se_ama_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Social Enterprise</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/17" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_se_cc_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Social Enterprise</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/19" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_se_de_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Social Enterprise</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/18" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_se_egc_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Social Enterprise</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/43" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_se_twc_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Social Enterprise</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/61" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_se_c_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Social Enterprise</strong></p>
            </div>
            <div><a href="//demo.sg/group/view/54" target="_blank"><img src="/ttsvr/cropImage/demo.images.tmp_img_partners_internal_demo_jpg.jpg" class="img-responsive"/></a><br/>
                <p class="text-center"><strong>Internal</strong></p>
            </div>
        </div>
    </div>
</div>
[[/DESIGNER_MODE]]