[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">z_wgt_section_home_offerings</div>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
<div id="sectionOfferings" class="section _offerings">
    <h2>
        <i class="fa fa-tags fa-3x"></i>
        <span>Offerings of the Month</span>
        <div class="overlay"></div>
    </h2>
    <div class="carousel-offerings owl-carousel owl-theme">
        <div>
            <a href="//demo.sg/en/product/view/99" target="_blank">
                <img src="/ttsvr/cropImage/demo.images.tmp_img_featured_1_jpg.jpg" class="img-responsive">
            </a>
        </div>
        <div>
            <a href="//demo.sg/en/product/view/134" target="_blank">
                <img src="/ttsvr/cropImage/demo.images.tmp_img_featured_2_jpg.jpg" class="img-responsive">
            </a>
        </div>
        <div>
            <a href="//demo.sg/en/product/view/235" target="_blank">
                <img src="/ttsvr/cropImage/demo.images.tmp_img_featured_3_jpg.jpg" class="img-responsive">
            </a>
        </div>
        <div>
            <a href="//demo.sg/en/product/view/324" target="_blank">
                <img src="/ttsvr/cropImage/demo.images.tmp_img_featured_4_jpg.jpg" class="img-responsive">
            </a>
        </div>
        <div>
            <a href="//demo.sg/en/product/view/368" target="_blank">
                <img src="/ttsvr/cropImage/demo.images.tmp_img_featured_5_jpg.jpg" class="img-responsive">
            </a>
        </div>
        <div>
            <a href="//demo.sg/en/product/view/390" target="_blank">
                <img src="/ttsvr/cropImage/demo.images.tmp_img_featured_6_jpg.jpg" class="img-responsive">
            </a>
        </div>

    </div>
</div>
[[/DESIGNER_MODE]]